@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Noto+Naskh+Arabic:wght@400..700&family=Noto+Serif+Bengali:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-amiriQuran: "Amiri Quran", serif;
  --font-notoNaskhArebic: "Noto Naskh Arabic", serif;
  --font-notoSerifBengali: "Noto Serif Bengali", serif;

  --color-blue: #268cfc;
  --color-lightBlue: #ebf5ff;
  --color-black: #050505;
  --color-gray: #7f7f7f;
  --color-silver: #e5e5e5;
  --color-lightGray: #e7e7e7;
}
